# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/ComponentFramework/Debug
/.vs/ComponentFramework/v17/ipch/AutoPCH
.vs/ComponentFramework/v17/Browse.VC.db
/.vs/ComponentFramework/FileContentIndex
Debug/ComponentFramework.pdb
ComponentFramework/GameEngineLog.txt
.vs/ComponentFramework/v17/DocumentLayout.backup.json
ComponentFramework/Debug/ComponentFramework.log
.vs/ComponentFramework/v17/DocumentLayout.backup.json
.vs/ComponentFramework/v17/DocumentLayout.json
ComponentFramework/GameEngineLog.txt
ComponentFramework/Debug/ComponentFramework.log
ComponentFramework/Debug/ComponentFramework.Build.CppClean.log
.vs/ComponentFramework/v17/ipch/72aa0ad3c26a5148.ipch
